@tailwind base;
@tailwind components;
@tailwind utilities;

body ::-webkit-scrollbar {
  display: none
}

:root {
  --button-font: proxima;
  --toastify-color-success: linear-gradient(180deg, #2ae4ac 0%, #37c978 100%);
  --toastify-color-error: linear-gradient(90deg, #ff5a5a 0%, #ff4343 100%);
  --toastify-toast-width: 288px;
  --toastify-toast-min-height: 42px;
  --toastify-toast-padding: 64px;
  --toastify-toast-border-radius: 4px;
}